In [110]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
from sklearn.ensemble import RandomForestClassifier # for the model
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report # for model evaluation
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [111]:
data = pd.read_csv("SPORT_NBA.csv")

In [112]:
data

,Name,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,Brandon Ingram,36,27.4,7.4,2.6,7.6,34.7,0.5,2.1,25.0,...,2.3,69.9,0.7,3.4,4.1,1.9,0.4,0.4,1.3,0.0
1,Andrew Harrison,35,26.9,7.2,2.0,6.7,29.6,0.7,2.8,23.5,...,3.4,76.5,0.5,2.0,2.4,3.7,1.1,0.5,1.6,0.0
2,JaKarr Sampson,74,15.3,5.2,2.0,4.7,42.2,0.4,1.7,24.4,...,1.3,67.0,0.5,1.7,2.2,1.0,0.5,0.3,1.0,0.0
3,Malik Sealy,58,11.6,5.7,2.3,5.5,42.6,0.1,0.5,22.6,...,1.3,68.9,1.0,0.9,1.9,0.8,0.6,0.1,1.0,1.0
4,Matt Geiger,48,11.5,4.5,1.6,3.0,52.4,0.0,0.1,0.0,...,1.9,67.4,1.0,1.5,2.5,0.3,0.3,0.4,0.8,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,Chris Smith,80,15.8,4.3,1.6,3.6,43.3,0.0,0.2,14.3,...,1.5,79.2,0.4,0.8,1.2,2.5,0.6,0.2,0.8,0.0
1336,Brent Price,68,12.6,3.9,1.5,4.1,35.8,0.1,0.7,16.7,...,1.0,79.4,0.4,1.1,1.5,2.3,0.8,0.0,1.3,1.0
1337,Marlon Maxey,43,12.1,5.4,2.2,3.9,55.0,0.0,0.0,0.0,...,1.6,64.3,1.5,2.3,3.8,0.3,0.3,0.4,0.9,0.0
1338,Litterial Green,52,12.0,4.5,1.7,3.8,43.9,0.0,0.2,10.0,...,1.8,62.5,0.2,0.4,0.7,2.2,0.4,0.1,0.8,1.0
1339,Jon Barry,47,11.7,4.4,1.6,4.4,36.9,0.4,1.3,33.3,...,1.0,67.3,0.2,0.7,0.9,1.4,0.7,0.1,0.9,1.0

# Checking Null Value in data set(EDA)

In [113]:
data.isnull().sum()

Name            0
GP              0
MIN             0
PTS             0
FGM             0
FGA             0
FG%             0
3P Made         0
3PA             0
3P%            11
FTM             0
FTA             0
FT%             0
OREB            0
DREB            0
REB             0
AST             0
STL             0
BLK             0
TOV             0
TARGET_5Yrs     0
dtype: int64

# If Null values Then remove it

In [114]:
updated_data =  data
updated_data['3P%'] = updated_data['3P%'].fillna(updated_data['3P%'].mean())
updated_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         1340 non-null   object
 1   GP           1340 non-null   int64
 2   MIN          1340 non-null   float64
 3   PTS          1340 non-null   float64
 4   FGM          1340 non-null   float64
 5   FGA          1340 non-null   float64
 6   FG%          1340 non-null   float64
 7   3P Made      1340 non-null   float64
 8   3PA          1340 non-null   float64
 9   3P%          1340 non-null   float64
 10  FTM          1340 non-null   float64
 11  FTA          1340 non-null   float64
 12  FT%          1340 non-null   float64
 13  OREB         1340 non-null   float64
 14  DREB         1340 non-null   float64
 15  REB          1340 non-null   float64
 16  AST          1340 non-null   float64
 17  STL          1340 non-null   float64
 18  BLK          1340 non-null   float64
 19  TOV          1340 non-null   float64
 20  TARGET_5Yrs  1340 non-null   float64
dtypes: float64(19), int64(1), object(1)
memory usage: 220.0+ KB

In [115]:
updated_data.isnull().sum()

Name           0
GP             0
MIN            0
PTS            0
FGM            0
FGA            0
FG%            0
3P Made        0
3PA            0
3P%            0
FTM            0
FTA            0
FT%            0
OREB           0
DREB           0
REB            0
AST            0
STL            0
BLK            0
TOV            0
TARGET_5Yrs    0
dtype: int64

In [116]:
updated_data.mode()

,Name,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,Charles Smith,82.0,8.5,3.7,1.8,3.1,41.5,0.0,0.0,0.0,...,0.8,66.7,0.3,0.9,1.2,0.5,0.3,0.1,0.8,1.0
1,NaN,NaN,14.8,4.1,NaN,NaN,42.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,43.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,43.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
updated_data.median()

GP             63.00
MIN            16.10
PTS             5.55
FGM             2.10
FGA             4.80
FG%            44.10
3P Made         0.10
3PA             0.30
3P%            22.20
FTM             1.00
FTA             1.50
FT%            71.25
OREB            0.80
DREB            1.70
REB             2.50
AST             1.10
STL             0.50
BLK             0.20
TOV             1.00
TARGET_5Yrs     1.00
dtype: float64

In [118]:
updated_data.mean()

GP             60.414179
MIN            17.624627
PTS             6.801493
FGM             2.629104
FGA             5.885299
FG%            44.169403
3P Made         0.247612
3PA             0.779179
3P%            19.308126
FTM             1.297687
FTA             1.821940
FT%            70.300299
OREB            1.009403
DREB            2.025746
REB             3.034478
AST             1.550522
STL             0.618507
BLK             0.368582
TOV             1.193582
TARGET_5Yrs     0.620149
dtype: float64

In [119]:
updated_data.describe()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
count,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000
mean,60.414179,17.624627,6.801493,2.629104,5.885299,44.169403,0.247612,0.779179,19.308126,1.297687,1.821940,70.300299,1.009403,2.025746,3.034478,1.550522,0.618507,0.368582,1.193582,0.620149
std,17.433992,8.307964,4.357545,1.683555,3.593488,6.137679,0.383688,1.061847,15.956966,0.987246,1.322984,10.578479,0.777119,1.360008,2.057774,1.471169,0.409759,0.429049,0.722541,0.485531
min,11.000000,3.100000,0.700000,0.300000,0.800000,23.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.300000,0.000000,0.000000,0.000000,0.100000,0.000000
25%,47.000000,10.875000,3.700000,1.400000,3.300000,40.200000,0.000000,0.000000,0.000000,0.600000,0.900000,64.700000,0.400000,1.000000,1.500000,0.600000,0.300000,0.100000,0.700000,0.000000
50%,63.000000,16.100000,5.550000,2.100000,4.800000,44.100000,0.100000,0.300000,22.200000,1.000000,1.500000,71.250000,0.800000,1.700000,2.500000,1.100000,0.500000,0.200000,1.000000,1.000000
75%,77.000000,22.900000,8.800000,3.400000,7.500000,47.900000,0.400000,1.200000,32.500000,1.600000,2.300000,77.600000,1.400000,2.600000,4.000000,2.000000,0.800000,0.500000,1.500000,1.000000
max,82.000000,40.900000,28.200000,10.200000,19.800000,73.700000,2.300000,6.500000,100.000000,7.700000,10.200000,100.000000,5.300000,9.600000,13.900000,10.600000,2.500000,3.900000,4.400000,1.000000

# Perform Feature Enginnering Encoding

In [130]:
X=updated_data.iloc[:,2:-1]
Y=updated_data['TARGET_5Yrs']

# Apply datasplitting of ratio 70:30

In [131]:
X_train, X_test , Y_train, Y_test=train_test_split(X,Y,test_size=.3, random_state=10)

In [132]:
X_train

,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
789,17.5,5.6,2.2,4.2,53.8,0.0,0.0,0.0,1.1,1.8,60.9,1.6,2.8,4.4,0.4,0.4,1.4,1.0
709,10.0,3.4,1.2,3.1,39.3,0.4,1.2,29.2,0.6,0.7,85.7,0.2,1.8,2.0,0.7,0.3,0.3,0.7
859,24.2,12.3,4.7,9.8,47.7,0.0,0.1,33.3,2.9,3.5,82.5,2.1,3.6,5.8,0.8,0.5,0.7,1.5
1259,10.6,4.6,1.7,4.3,38.4,0.4,1.3,30.1,0.9,1.3,64.9,0.6,0.5,1.1,1.0,0.2,0.1,0.9
861,22.6,7.6,2.8,5.8,48.7,0.0,0.1,33.3,1.8,2.4,75.2,1.7,3.2,4.9,1.0,0.6,0.1,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1180,11.5,3.9,1.3,3.3,39.7,0.3,0.9,30.1,1.0,1.5,65.8,0.3,0.9,1.2,1.5,0.5,0.1,0.9
1147,23.1,6.7,2.8,6.9,41.4,0.0,0.3,11.1,0.9,1.4,65.2,1.5,3.6,5.1,0.9,0.6,0.3,1.4
527,9.0,4.9,2.1,4.4,46.5,0.0,0.1,0.0,0.8,1.4,58.5,0.9,0.4,1.3,0.4,0.5,0.1,0.9
1149,12.3,3.5,1.1,2.8,37.8,0.0,0.0,0.0,1.4,2.0,70.0,0.3,0.9,1.1,1.9,0.4,0.0,1.3
1289,16.6,4.6,1.6,4.5,36.2,0.4,1.4,26.6,1.0,1.2,82.5,0.3,1.9,2.3,0.8,0.7,0.3,0.6

In [123]:
Y_train

789     0.0
709     0.0
859     1.0
1259    0.0
861     1.0
       ...
1180    1.0
1147    0.0
527     1.0
1149    1.0
1289    0.0
Name: TARGET_5Yrs, Length: 938, dtype: float64

In [124]:
X_test

,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
773,10.2,3.1,1.2,2.3,51.8,0.0,0.0,0.0,0.8,1.1,69.1,0.9,1.1,2.0,0.1,0.2,0.7,0.5
1088,35.2,18.3,6.9,15.3,45.0,0.4,1.3,28.8,4.1,5.4,76.1,1.9,3.8,5.7,3.0,1.1,1.5,2.2
301,18.2,7.4,2.8,4.3,65.9,0.0,0.0,0.0,1.7,2.8,62.6,1.4,3.0,4.4,0.9,0.7,0.8,1.1
383,12.8,5.1,1.9,4.6,41.6,0.0,0.1,0.0,1.2,1.7,70.6,0.8,1.3,2.1,1.4,0.3,0.2,1.3
318,26.4,11.1,4.1,8.4,49.0,0.0,0.0,33.3,2.9,3.9,74.6,2.0,5.6,7.6,1.0,0.8,2.6,1.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,9.2,1.9,0.7,2.0,32.7,0.1,0.6,21.4,0.5,0.8,64.9,0.2,0.7,0.8,1.7,0.5,0.1,0.6
834,12.4,2.9,1.3,3.1,41.7,0.0,0.0,0.0,0.4,0.8,48.5,1.0,1.5,2.5,0.3,0.2,0.5,0.5
776,34.6,20.3,7.3,17.1,43.0,0.7,2.6,28.8,4.9,5.6,87.3,0.9,3.5,4.3,2.4,1.0,0.9,2.9
1193,34.4,15.3,5.7,12.5,45.8,0.1,0.3,35.7,3.7,4.8,77.3,3.7,5.1,8.7,1.0,1.0,1.6,1.7
1007,18.3,4.5,1.5,3.6,42.1,0.0,0.0,50.0,1.5,2.1,70.1,1.7,2.2,3.9,1.1,0.4,0.6,0.9

In [125]:
Y_test

773     1.0
1088    1.0
301     0.0
383     0.0
318     1.0
       ...
73      0.0
834     0.0
776     1.0
1193    1.0
1007    1.0
Name: TARGET_5Yrs, Length: 402, dtype: float64

# Accuracy of the model using decision tree classifier

In [126]:
dtc=DecisionTreeClassifier(
    criterion='gini',
    splitter='best',
    max_depth=5,
    min_samples_split=2,
    min_samples_leaf=1,
    random_state=10,
    max_leaf_nodes=5)
dtc.fit(X_train,Y_train)
dtc_pred=dtc.predict(X_test)
print("the accuracy is",accuracy_score(Y_test,dtc_pred)*100)

the accuracy is 68.40796019900498

# Accuracy of the model using random forest classifer

In [127]:
random=RandomForestClassifier( criterion='gini',
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features='auto',
    max_leaf_nodes=5,bootstrap=True,random_state=100)
random.fit(X_train,Y_train)
random_pred=random.predict(X_test)
print("the accuracy is",accuracy_score(Y_test,random_pred)*100)

the accuracy is 69.15422885572139